ninja
torch
torchvision
transformers>=4.25.1
ftfy
tensorboard
Jinja2
pillow
datasets
xformers
bitsandbytes-cuda117
deepspeed
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/accelerate.git

